import  type { NetworkId } from '@near-wallet-selector/core';

// config 
export default {
  contract: "dev-1669075798136-82472839459359", 
  network: "testnet" as NetworkId, 
  mediaServerDefaultHost: "https://chershare-api.aimparency.org"
}
